.Otp-box{
    width:50px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    margin: 3px;

}
.input-container{
    text-align: center;
    margin-top: 50px;

}