.Otp-box{
    width:50px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    margin: 3px;

}
.input-container{
    text-align: center;
    margin-top: 20px;

}
.otp-gen,.otp-submit{
    text-align: center;
   background:rgb(37, 247, 247);
    display: block;
     margin: 10px auto;
    
    border-radius: 10px;
}
.otp-submit{
    background:rgb(37, 247, 137);
}