.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100vh;
}

.card>form {
  
    width: 50%;
height:500px;
      background-color: #faf6f6cc;
     box-shadow: 4px 5px 8px rgba(0.5, 0, 0, 0.5);

}
.list-add {
    width: 250px;

    height: 30px;
    margin-top: 20px;
    margin-left: 250px;
}

.btn {
    width: 70px !important;
    height: 35px !important;
    border:none;
    border-radius:10px !important;
    margin-left: 5px !important;
    margin-top: 1px !important;
    color: rgb(14, 13, 13);
    background-color: rgb(129, 215, 218) !important;
}

.search-input {
    width: 200px;
    padding: 10px;
    margin-left: 560px;
    margin-top: 20px;
}

th,
td {
    border-collapse: collapse;
    padding: 20px;


}

td {
    padding-left: 50px;
}

table {
    width: 100%;
}

.discr {
    padding-left: -20px;
}

.dlete-edit-btn {
    display: flex;
    gap: 5px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;              /* Makes it clear it's clickable */
  
  border: 2px solid #555;       /* Adds a visible border */
  border-radius: 4px;           /* Rounded corners */
 
  background-color: #fff;       /* Default background */
  transition: all 0.2s ease;    /* Smooth hover/active effects */
}



