.tabs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    gap: 20px;
    margin-top: 20px;
    cursor: pointer;

}
.tab-name{
    border:1px solid gray;
    padding: 10px;
}
.tab-form{
   
    width: 50%;
}
.active-component{
    border: 2px solid rgb(32, 32, 34);
    padding: 10px;
    border-radius: 5px;
    height: 250px;
   
    font-weight: bold;
}
.profile-form label{
    display: block;
    margin-bottom: 10px;

}