.tabs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    gap: 20px;
    margin-top: 20px;
    cursor: pointer;

}
.active-tab{
border-bottom: 4px solid rgb(18, 238, 209);
    padding: 1px;
    margin:10px;
    font-size: 20px;
    
}
.tab-form{
   
    width: 50%;
    
}
.active-component{
    border: 2px solid rgb(32, 32, 34);
    padding: 10px;
    border-radius: 5px;
  
   
    font-weight: bold;
}
.profile-form label{
    display: block;
    margin-bottom: 10px;

}
span{
    color:red;
    display:block
}
.pagination-btn{
    display: flex;
    gap:20px
}
.tab-form>button{
   margin:5px;
   background-color:rgb(132, 139, 139);
   border-radius:5px;
   text-align:end;
   margin-left:20px;
}
.submit{
    margin-left:280px !important;
    background-color: #8ad697 !important;
}