.progres-outer{
    border:1px solid black;
    width:200px;
    height:30px;
    border-radius:100px;
     overflow:hidden;
    margin:200px auto;

 
}
.progres-inner{
    background-color: #00ff55;
    height:100%;
    color:rgb(49, 47, 47);
    transition: 0.5s ease-in;
    text-align:right;

}