.pc-wrapper {
  border: 1px solid #ddd;
  padding: 12px;
  width: 250px;
  margin: 20px auto;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.pc-parent {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
    cursor: pointer;
    display: flex;
    gap: 8px;
}

.pc-children {
  padding-left: 16px;
}

.pc-child {
  display: block;
  margin-bottom: 6px;
  display: flex;
    gap: 8px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
label{
    font-size: 18px;
}