
.nav-bar {
  background-color: #f5f5f5;
  padding: 10px 20px;
  margin-bottom: 20px;
}
.nav-bar ul {

  cursor: pointer;
  display: flex;
  gap: 50px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 18px;

}
.nav-bar ul li a{
  text-decoration: none;
  color: #067aff;
}
.components-app{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}