
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f6f8;
  padding: 30px;
}


.custom-btn {
  padding: 10px 18px;
  margin: 8px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  color: white;
  transition: opacity 0.2s ease, transform 0.1s ease;
}

.custom-btn:hover {
  opacity: 0.9;
  transform: scale(1.03);
}

/* ===== Color Variants ===== */
.btn-primary {
  background-color: #1976d2;
}

.btn-success {
  background-color: #2e7d32;
}

.btn-danger {
  background-color: #d32f2f;
}

.btn-warning {
  background-color: #ed6c02;
}

.btn-dark {
  background-color: #212121;
}
.btn-light {
  background-color: #ffffff;
  color: #212121;
}
.btn-light:hover {
  color: #000000;
}
.btn-info {
  background-color: #0288d1;
} 
.btn-secondary {
  background-color: #6c757d;
}
.btn-secondary:hover {
  background-color: #5a6268;
}
/* Base Input Style */
.custom-input {
  width: 250px;
  padding: 8px 10px;
  margin: 20px auto;
  border: 2px solid #aaa;
  border-radius: 5px;
  font-size: 14px;

}
.input-content{
  margin-top:50px;
}
.input-box {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;


}

.custom-input:focus {
  outline: none;
  border-color: #1976d2;
}

